.sobreProjeto{
    width: 50%;
    
}
.sobreProjeto p, h2{
    margin-left: 100px ;
    
}
.imgContato{
    width: 45%;
    flex-direction: column;
}
.imgSimepe2{
    height: 79%;
    width: 55%;
}
.sobreProjetosEImg{
    width: 100%;
    display: flex;
}