section {
    
    text-align: left;
    text-indent: 10%;
    padding: 10px;
    width: 70%;
    display: flex;
    flex-direction: wrap;
    gap: 20px;
    margin-top: 30px;
}
.imgMistura {
    width: 150px;
    height: 150px;
}

p.paragrafoMistura {
    margin-top: 10px;
    
}
h3.h3Mistura{
    margin-top: 10px
}
.textoMistura p {
    white-space: nowrap;
}