.ListaMistura {
    width: 30%;
    border: 2px solid rgb(233, 222, 222);
    height: 95%;
    text-align: left;
    text-indent: 30px;
}
.ListaMistura p{
    margin-top: 10px;
}
.ListaMistura h6 {
    font-size: 15px;
    margin-bottom: 10px;
    

}
.ListaMistura ul {
    border-top: 1px solid rgb(233, 222, 222);
    border-bottom: 1px solid rgb(233, 222, 222);
    height: 40%;
}
.ListaMistura ul li {
    margin-top: 45px;
    width: 70%;
    font-size: 18px;
    
    color: rgb(99, 94, 94);   
}