.ulNavbar {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}
.ulNavbar li {
    list-style: none;
    margin: 10px;
}
li#navSimulador {
    width: 70%;
    font-weight: 700;
    text-align: left;
    font-size: 25px;
    
}
.link{
    text-decoration: none;
    color: black;
    font-size: 25px;
}
.link:hover{
    text-decoration: none;
    color: rgb(68, 66, 66);
    
}
#logoNavbar{
    width: 85px;
    height: 85px;
}