div.telaInicial{
    display: flex;
    height: 500px;
    width: 100%;
    
    
    
}
div.textoInicial{
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}
div.imagem{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-right: 100px;
    margin-left: 100px;
}
.h2Inicial{
margin-bottom: 40px;

}
.pInicial
{
    margin-bottom: 10px;
}
img.imgInicial{
    width: 400px;
    height: 400px;
}
.h2Inicial{
    white-space: pre-line;
    color: rgb(58, 53, 53);
    font-size: 30px;
}
.pInicial{
    
    white-space: pre-line;
    color: rgb(58, 53, 53);
    font-size: 20px;
}
.pInicial2{
    
    white-space: pre-line;
    color: rgb(58, 53, 53);
    font-size: 20px;
}