section {
    
    text-align: left;
    text-indent: 10%;
    padding: 10px;
    width: 70%;
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.imgMistura {
    width: 150px;
    height: 150px;
}
div.img{
    width: 30%;
}
p.paragrafoMistura {
    margin-top: 10px;
    width: 70%;
    text-align: right;
}
h3.h3Mistura{
    margin-top: 10px;
    
    color: 	#0A192F;
}
.textoMistura{
    display: flex;
    border: 2px solid rgb(233, 222, 222);
    width: 90%;
    padding: 20px;
    align-items: center;
}
.textoMistura p {
    white-space: nowrap;
}