.mistura-modo-dificil{
    width: 15%;

}
button.buttonPadrao {
  padding: 10px 20px;
  margin: 10px 0;
  margin: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.3s;
  width: 30%;
}

button.buttonPadrao:hover {
  filter: brightness(1.1);
}

.select-metodo {
  margin: 10px 0;
  max-width: 300px;
  width: 100%;
  font-size: 1rem;
  padding: 6px 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.listaMisturaHorizontal, .listaMistura {
  margin-bottom: 20px;
}

.mistura-modo-dificil {
  padding: 20px;
  background-color: #f7f9fc;
  box-sizing: border-box;
}

.botoes-container {
  display: flex;
  flex-direction: column;
  
  gap: 10px;
}

